In [1]:
import pandas as pd
import numpy as np

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [5]:
# If your file is inside zip, extract first then give correct path
df = pd.read_csv("movies.csv")

print(df.head())
print(df.columns)

   movieId                               title  \
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

                                        genres
0  Adventure|Animation|Children|Comedy|Fantasy
1                   Adventure|Children|Fantasy
2                               Comedy|Romance
3                         Comedy|Drama|Romance
4                                       Comedy
Index(['movieId', 'title', 'genres'], dtype='object')

In [17]:
df.isnull().sum()

movieId    0
title      0
genres     0
dtype: int64

In [21]:
df.columns

Index(['movieId', 'title', 'genres'], dtype='object')

In [23]:
df['genres'] = df['genres'].str.replace('|', ' ', regex=False)

In [25]:
df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure Animation Children Comedy Fantasy
1,2,Jumanji (1995),Adventure Children Fantasy
2,3,Grumpier Old Men (1995),Comedy Romance
3,4,Waiting to Exhale (1995),Comedy Drama Romance
4,5,Father of the Bride Part II (1995),Comedy

In [33]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

tfidf = TfidfVectorizer(stop_words='english')
tfidf_matrix = tfidf.fit_transform(df['genres'])

In [34]:
def recommend_movie(movie_title, n=5):

    if movie_title not in df['title'].values:
        return "Movie not found"

    idx = df[df['title'] == movie_title].index[0]

    # Compute similarity ONLY for one movie
    sim_scores = cosine_similarity(
        tfidf_matrix[idx], tfidf_matrix
    ).flatten()

    # Get top similar movies
    similar_indices = sim_scores.argsort()[::-1][1:n+1]

    return df['title'].iloc[similar_indices]

In [35]:
recommend_movie("Toy Story (1995)")

3653     Adventures of Rocky and Bullwinkle, The (2000)
3912                   Emperor's New Groove, The (2000)
59335                               Missing Link (2019)
59328                                Wonder Park (2019)
4780                              Monsters, Inc. (2001)
Name: title, dtype: object